@charset "UTF-8";


@media ( max-width : 767px) {

	.fa-cloud {
		display: none;
	}
	.no {
		display: none;
	}
	.cloud {
		display: none;
	}
	.login {
		float: right;
		line-height: 11px;
	}
	.navbar-brand {
		float: left;
		top: 50px;
		position: relative;
		left: -10px;
	}
}

@keyframes floating
{
	from {transform: translate(0,0px);}
	65%	{transform: translate(0,15px);}
	to {transform: translate(0,0px);}
}


.cloud {
	animation-name: floating;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	transition-timing-function: ease-in-out;
	width: 10%;
	/* height: 10%; */
	margin-left: 470px;
	margin-top: -280px
}



.footer-2
{
	font-size:25px; 
	font-weight:bold; 
	color:#fff; 
	text-align:center; 
	padding-top:15px
}

.footer-3
{
	font-size:15px; 
	font-weight:bold; 
	color:#fff; 
	text-align:center; 
	padding-top:6px; 
}
.b
{
	float: left;
    margin-left: 6px;
    font-size: 14px;
}
.c
{
	
    margin-left: 6px;
    font-size: 14px;
	
}

#login-menu, #mypageMenu {
    border-radius: 5px;
    position: absolute;
    padding: 15px;
    right: 10px;
    width: 290px;
    height: 200px;
    border: 1px solid #ccc;
    background-color: #fff;
    top:10px;
}

#mainMenuBar .loginmenuText {
    font-size: 14px;
}

#login-menu input
{
	width:100%;
}
.gray
{
 	 color:blue;
 	 font-size: 12px;
 	 text-align: center;
}
.loginimg img
{width:40px; margin-left:10px;}

.align-bottom
{
    display: inline-block;
    color: #777;
    font-size: 13px;
    width: 90px;
    text-align: center;
    margin-right: 20px;
    margin-top: 15px;
    vertical-align: bottom;
    margin-left: 20px;
}
.blind_view
{
	vertical-align:top;
}
 
