@charset "UTF-8";
.cate-select
{
	width:200px;
	float: left;
	font-size: 15px;
	margin-left: 20px;
}
.state-select
{
	width:200px;
	float: left;
	font-size: 15px;
	margin-left: 20px; 
}

.project_array
{

	width:200px;
	float: left;
	font-size: 15px;
	margin-left: 20px;
}

.project_the_number
{
	margin-top: 30px;
	font-size: 20px;
	margin-left: 20px;
}
.project_the_number span
{
	color: black;
	font-weight: bold;
}
.item 
{
    height: 40%;
    width: 23%;
    float: left;
    margin-left: 22px;
}
.thdnjs
{
	padding:0px;
	margin-right: 17px;
	
}

.pagination_project
{

	font-size: 20px;
	padding: 10px;
	margin-left: 450px;
	margin-top: 20px;


}
.pagination_project a
{
	margin: 7px;
}

.pagination_project a.active {
  background-color: #ffc425;
  color: white;
}



.footer-1
{
	margin-top:50px;
	height:100px;
}


.product-grid
{
   margin-top: 50px;
   height: 100%;
}
/*===============================================================================*/

	/* ===================================================================================================== */

@media (max-width:767px)
{
	.mypage_image
	{ 
		width: 100%;	
		float: left;
		margin-bottom: 90px;
	}

   .item
   {   
    	margin-bottom: 50px;
   }
    .footer-1
   {
   		width: 390px;
   		height: 150px;
   }
   .pagination_project
   {
   		margin-left:40px;
   }

}

@media (max-width:992px)
{

   .item
    {
    	margin-bottom: 50px;
    	width: 100%;
	}
}

@media (max-width:1200px)
{
   .item
    {
    	width:100%;
    	margin-bottom: 50px;
	}
}

