<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crescendo.spring.dao.Board.IBoardDAO">





<!-- 전체 내용 조회 -->
<select id="viewAll" resultType="BoardVO">
  SELECT * FROM board ORDER BY SEQ DESC
</select>

<!-- 글 상세조회 -->
<select id="viewDetail" resultType="BoardVO" parameterType="int">
  SELECT * FROM BOARD WHERE SEQ = #{seq}
</select>


<!-- 게시판 insert -->
<insert id="insertBoard" parameterType="BoardVO">

	<selectKey keyProperty="seq" order="BEFORE" resultType="int">
		SELECT BOARD_SEQ.NEXTVAL FROM DUAL
	</selectKey>
	INSERT INTO BOARD (seq, writer, title, content)
				VALUES (#{seq}, #{writer}, #{title}, #{content})
</insert>




</mapper>