<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crescendo.spring.admin.model.dao.how.IHowDAO">
<!--  반드시 select문이 있을 경우 명시해줘야한다. -->
   <!--  데이터 겹침 방지 (다른곳에서 사용할때 )  -->
   <!--  type은 VO명 id아무거나  -->
   <!--  property = vo안에 속성이름 -->
   <!--  resultMap type안에 NoticeVO는 config.xml파일에서 설정해준 값 사용 -->
   <resultMap type="AdminHowVO" id="howResultSet">
      <id column="HOW_NUM" property="howNum"/>
      <result column="ADMIN_NUM" property="adminNum" />
      <result column="HOW_DATE" property="howDate" />
      <result column="HOW_CONTENT" property="howContent"/>
      <result column="HOW_TITLE" property="howTitle"/>
   </resultMap>
   
    <!-- 이용방법 출력 -->
    <select  id="howList" resultType="AdminHowVO">
		SELECT HOW_NUM, HOW_DATE, HOW_TITLE, HOW_CONTENT
		FROM TBL_HOW_USE
		ORDER BY HOW_NUM
	</select>
	
	<!-- 이용방법 수정폼 출력 -->
	<select id="howUpdateForm" resultType="AdminHowVO">
		SELECT HOW_NUM, HOW_TITLE, HOW_CONTENT, HOW_DATE
		FROM TBL_HOW_USE
		WHERE HOW_NUM=#{howNum}
	</select>
	
	<!-- 이용방법 수정 -->
	<update id="howUpdate">
		UPDATE TBL_HOW_USE
		SET HOW_TITLE=#{howTitle}, HOW_CONTENT=#{howContent}, HOW_DATE=TO_CHAR(SYSDATE, 'YYYY-MM-DD')
		WHERE HOW_NUM=#{howNum}
	</update>
	
</mapper>