<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crescendo.spring.user.model.dao.mypagetemp.IMypageTempDAO">

   <resultMap type="MypageTempVO" id="mypagetempResultSet">
      <id column="USER_NUM" property="userNum"/>
	  <result column="USER_NAME" property="userName" />
	  <result column="USER_EMAIL" property="userEmail" />
	  <result column="USER_INDATE" property="userIndate" />
	  <result column="USER_PROFILE" property="userProfile" />
	  <result column="USER_ADDR" property="userAddr" />
	  <result column="USER_TEL" property="userTel" />
	  <result column="PRJ_NUM" property="prjNum" />
	  <result column="CA_NUM" property="caNum" />
	  <result column="PRJ_TITLE" property="prjTitle" />
	  <result column="PRJ_SNAME" property="prjSname" />
	  <result column="PRJ_IMG" property="prjImg" />
	  <result column="PRJ_CONTENT" property="prjContent" />
	  <result column="PRJ_GOAL" property="prjGoal" />
	  <result column="ADMIN_NUM" property="adminNum" />
	  <result column="PRJ_DATE" property="prjDate" />
	  <result column="CA_NAME" property="caName" />
	  <result column="CA_DATE" property="caDate" />
	  <result column="RE_NUM" property="reNum" />
	  <result column="RE_MONEY" property="reMoney" />
	  <result column="RE_LIMIT" property="reLimit" />
	  <result column="RE_NAME" property="reName" />
	  <result column="RE_CONTENT" property="reContent" />
	  <result column="RE_DATE" property="reDate" />
      <result column="MA_NUM" property="maNum" />
      <result column="MA_PERIOD" property="maPeriod" />
      <result column="MA_NAME" property="maName" />
      <result column="MA_INFO" property="maInfo" />
      <result column="MA_ACNAME" property="maAcname" />
      <result column="MA_BANK" property="maBank" />
      <result column="MA_ACCOUNT" property="maAccount" />
	  <result column="MA_DATE" property="maDate" />
	  <result column="MA_PREDICT" property="maPredict" />          
   </resultMap>
   
   <!-- 임시저장한 목록 리스트 출력 -->
   	<select id="mypageTempList" resultType="MypageTempVO">
   		SELECT USER_NUM, USER_NAME,USER_EMAIL
      			,USER_INDATE, USER_PROFILE 
      			,USER_ADDR, USER_TEL
      			,PRJ_NUM, CA_NUM, PRJ_TITLE
     			 ,PRJ_SNAME,PRJ_GOAL, PRJ_IMG 
     			 ,PRJ_CONTENT, TO_CHAR(PRJ_DATE,'YYYY-MM-DD') AS PRJ_DATE
		FROM VIEW_USER_STEP3
		WHERE USER_NUM = #{userNum} AND MA_DATE IS NULL
		GROUP BY  USER_NUM, USER_NAME,USER_EMAIL
      			,USER_INDATE, USER_PROFILE 
      			,USER_ADDR, USER_TEL
     			 ,PRJ_NUM, CA_NUM, PRJ_TITLE
     			 ,PRJ_SNAME,PRJ_GOAL, PRJ_IMG 
     			 ,PRJ_CONTENT, PRJ_DATE
     	ORDER BY PRJ_DATE DESC
   	</select>
   	
   	<!-- 임시저장한 갯수 확인 -->
   	<select id="mypageTempCount" resultType="java.lang.Integer">
   		SELECT COUNT(DISTINCT(PRJ_NUM))
		FROM VIEW_USER_STEP3
		WHERE USER_NUM = #{userNum} AND MA_DATE IS NULL
   	</select>
   	
   	<!-- reNum을 확인하여 프로젝트 단계별로 리다이렉트하기위한 쿼리문 -->
   	<select id="searchStep" resultType="java.lang.Integer">
   		SELECT NVL(RE_NUM,0) AS "RE_NUM"
		FROM VIEW_USER_STEP3
		WHERE PRJ_NUM=#{prjNum}
   	</select>
   	
   	<!-- 임시저장페이지에서 delete하기위한구문 -->
   	<delete id="mypageTempDelete">
   		{ CALL
   		  DECLARE
   		  BEGIN
   		  			DELETE
						FROM TBL_MAKER
						WHERE PRJ_NUM = #{prjNum};
   					DELETE
						FROM TBL_REWARD
						WHERE PRJ_NUM = #{prjNum};
					DELETE
						FROM TBL_PROJECT
						WHERE PRJ_NUM = #{prjNum};
		 	END
   		
   		}
   	</delete>
   	
   	<!--  -->
</mapper>   